<p id="notice"><%= notice %></p>
<h1 >Stores</h1>
<div class="row">
  <div class="col-sm-12">
    <% @stores.each do |store| %>
    <div class="col-md-4">
      <%= link_to store, class: "thumbnail well" do %>
      <img class="media-object" alt="Card image cap" src="http://placehold.it/350x150/20BFA9/ffffff&text=Eample">
      <div class="caption">
        <h4 class="card-title"><%= store.name%></h4>
        <span class="card-text"><%= store.description%></span>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
