<div class="board-md row board-md-new-store">
  <h1 class="text-center">Create My Store, Be a Vendor</h1>
  <div class="well col-md-8 col-md-offset-2 transparent">
    <%= render 'form_new', store: @store %><br>
  </div>
</div>
