<div class="well center">
  <h1 class="text-center">Add New Store</h1>
  <%= render 'form', store: @store %><br>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back", @store.market,  {class: "btn btn-warning col-md-12"} %>
    </div>
  </div>
</div>
