<% if @user.markets.length > 0%>
<div class="row well">
  <div class="col-sm-12">
    <h3 class="text-center">User's Markets</h3>
      <%= render 'shared/markets_panel_lg', locals: { markets: @markets = @user.markets } %>
  </div>
</div>
<% end %>

<% if isVendor(@user) and @user.vendor.store.markets.length > 0 %>
<div class="row">
  <div class="col-sm-12 well">
    <h3 class="text-center">User Store's Markets</h3>
    <%= render 'shared/markets_panel', locals: { markets: @markets = @user.vendor.store.markets } %>
  </div>
</div>
<% end %>
