<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">My Markets</h3>
    <hr>
    <%= render 'shared/markets_panel_lg', locals: { markets: @markets = @user.markets } %>
  </div>
</div>
