<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4>The form contains <%= pluralize(object.errors.count, "error") %>.</h4>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
