<% @markets.each do |market| %>
<div class="col-md-4">
  <%= link_to market, class: "thumbnail well" do %>
  <% if market.market_images.all.length == 0 %>
  <div class="text-center thumbnail-image thumbnail-image-md" style="background:url(http://placehold.it/350x150/fff/ffffff&text='')"><span class="glyphicon-md glyphicon glyphicon glyphicon-bullhorn"></span></div>
  <% else %>
  <div class="text-center thumbnail-image thumbnail-image-md" style="background: url(<%= market.market_images.all.first.image.url(:small)%>)"></div>
  <% end %>
  <div class="caption">
    <h4 class="card-title"><%= market.name%></h4>
    <span class="card-text"><%= market.description%></span>
  </div>
  <% end %>
</div>
<% end %>
