<% @reviews.each do |review| %>
<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <img class="review-photo" src="<%= gravatar_for review.user,size: 200 %>">
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->
  <div class="col-sm-11">
    <div class="text-left panel panel-default">
      <div class="panel-heading">
        <strong><%= link_to review.user.name, review.user%></strong> <span class="text-muted"><%= review.created_at%></span>
      </div>
      <div class="panel-body">
        <%= review.comment%>
        <hr>
        <span>
        <div class="text-right">
          <% (0..4).each do |i|%>
          <% if i >= review.rating %>
          <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <% else %>
          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <% end %>
          <% end %>
        </div>
      </span>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div>
<% end %>
