<!DOCTYPE html>

<div class="mdl-layout-spacer">
  <div class="container" id="search_area">

      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-form">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  </div>

<!-- <%= link_to "Sign up now!", user_signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> -->

</div>
