    <div class="col-md-12 jumbotron">
      <div class="form-horizontal center"  id="search_area">
        <%= form_for root_path, method: :get do  %>
          <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Markets, Stores, Products..." %>

        <% end %>
      </div>

    </div>

<%= render 'layouts/market_cards' %>
