<div class="mdl-layout-spacer">
<h1 >Welcome to Harvest</h1>

<!-- <%= link_to "Sign up now!", user_signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> -->

</div>
