<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-md-12" id="search_area">



      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-form">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </div>
  </div>

<!-- <%= link_to "Sign up now!", user_signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> -->

</div>
