<div id="search_area">
   <%= render 'shared/search' %>
</div>
    <div class="">
      <div class="form-horizontal center container" id="search_area">
      </div>
    </div>

<%# <!-- <%= render 'layouts/market_cards' %>
