<div class="board-md row center board-md-new-market">
  <h1 class="text-center">Create New Market</h1>
  <div class="well col-md-8 col-md-offset-2 transparent">
    <%= render 'form_new', market: @market %>
  </div>
</div>
