<h1>Editing Store Market Relationship</h1>

<%= render 'form', store_market_relationship: @store_market_relationship %>

<%= link_to 'Show', @store_market_relationship %> |
<%= link_to 'Back', store_market_relationships_path %>
