$link-color: #5cb85c;
$brand-primary: #5cb85c;
$input-border-focus: #5cb85c;
$nav-link-hover-bg: #5cb85c;
$navbar-default-link-hover-color: #5cb85c;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-timepicker";
@import "dropzone/dropzone";
@import "bootstrap-multiselect";
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

#ratings { color: #ee8b2d;}
#ratings-existing { color: #ee8b2d;}
#ratings-notice{
  font-size: 1.3em;
  color: #777777;
}

a.a-modal{
  display: inline-block;
  width: 100%;
}
#search_area{
  // margin-top: 200px;
  width: 100%;
  height: 60%;
}

#search{
  margin-top: 100px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.image{
  width: 100%;
  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('search_background_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.table-condensed td a{
  &:hover {background: #ecf0f1;}
}

bottom-padding{
  padding-bottom: 30px;
}

#more .card{
  height: 300px;
  margin: 30px;
}


.card-header{
  font-size: 15px;
}
.our_cards{
  outline-offset: 15px;
  outline-style: groove;
  outline-color: black;
  margin-bottom: 15px;
}

.navbar{
  font-size: 16px;
  border: 0px;
  color: #000000;
  background-color: rgba(255,255,255,0.8);
}

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  font-size:2em;
  z-index: 5;
  display: inline-block;
}
.carousel-control{
  background-color:transparent;
  background-image:none !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: $link-color;
}

#showcase .carousel img{
  width: 100%;
  height: 350px;
}
.carousel img{
  width: 100%;
}

.carousel-control:hover,
.carousel-control:focus {
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}

.carousel-image-lg{
  padding-top: 100px;
  height: 350px;
}

.details .nav a small {
  display:block;
}
.details .nav {
  background:#eee;
  margin: 0px;
  margin-bottom: 20px;
}
.details .nav a {
  border-radius:0px;
}

.information .panel{
  margin-bottom: 0px;
  padding: 0px;
}

#button-group{
  margin-right:0;
}

.thumbnail .caption{
  height: 150px;
  text-decoration: none;
}

.thumbnail img{
  width: 100%;
}

.thumbnail-image{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail-image-square{
  width: 100%;
  height: 220px;
  background: url(http://placehold.it/350x150/fff/ffffff&text=);
  background-size: 100% 100%,cover;
  // background-color:rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail-image-square-sm{
  width: 100%;
  height: 175px;
  background: url(http://placehold.it/350x150/fff/ffffff&text=);
  background-size: 100% 100%,cover;
  // background-color:rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail-image-square-bg{
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.thumbnail .thumbnail-image-md{
  width: 100%;
  height: 150px;
}

.thumbnail-image-board{
  border-radius: 12px;
  padding: 0px;
  // background: black;
  background: #000000;
}


.thumbnail li{
  width: 100%;
  text-decoration: none;
}

.thumbnail{
  text-decoration: none;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.thumbnail-footer{
  align-content: center;
  font-size: 15px;
  margin-left: 20px;
  font-style: italic;
  font-family: Arial,Helvetica,sans-serif;

}

.btn-space{
  margin-right: 10px;
}

.modal-header{
  padding: 0px;

}
.modal-content{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#add_store_image{   /* mozilla, netscape */
  opacity: 0.5;
}

.dropzone{
  border-style:dashed;
  border-radius: 30px;
  font-size: 30px;
  opacity: 0.5;
}
.dropzone:hover{
  opacity: 1.0;
}

.detele{
  margin-top: 10px;
}
/* Search Style */
#custom-search-input{
  border: solid 1px #E4E4E4;
  border-radius: 3px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}
#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 4px 12px 4px 10px;
  border-left: solid 1px #ccc;
  line-height: 2;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}
#selectBox {
  width: fit-content;
  border: none;
  box-shadow: none;
  border-right: solid 1px #ccc;
  -webkit-appearance: none;
}

#selectBox button {
  background: #666666;
  box-shadow: none;
  border: 0;
  color: #666666;

}

header {
  h1{
    font-size: 65px;
    color: white;
    padding-bottom: 25px;
  }
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  height: 600px;
  width: 100%;
  background-image: image-url('search_background_image1.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer{
  a{
      color: #149800;
  }
  a:hover{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #000000;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1em;
    text-indent: -.7em;
  }

  li{
    color: #149800;
  }
  background: #ececec;
  padding-top: 20px;
  padding-bottom: 15px;
}

.footer-title{
  padding-top: 15px;
  font-size: 18px;
  color: #149800;
  font-weight: bold;
}

.section-hr{
  border-color: #000;
  border-width: 3px;
  max-width: 50px;
}

body.container{
  background-color: #ffffff;
  padding-top: 60px;
  text-align: justify;
  text-justify: inter-word;
}

.review-photo{
  height: 50px;
}

.market_tag{
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
  :hover{
    background-color: #666666;
  }
}

.selected_tag{
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
  :hover{
    background-color: #666666;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
#cat-navi select{
  display:none;
}

/*************** @media ******************/
@media (max-width: 940px){
  .brand {
    display:block;
    text-align:center;
    font-size:26px;
  }
  #cat-navi select{
    display:block;
    width:100%;
  }
  #cat-navi li{
    display:none;
  }
}

.management-board{
  margin-top: 30px;
  a{
    position: static;
    width: 100%;
  }
  // padding-top: 20px;
  // padding-bottom: 20px;
}

#rating{
  margin-bottom: 10px;
}
.caption .row{
  margin-bottom: 10px;
}
.glyphicon-sm{
  font-size: 15px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.glyphicon-md{
  font-size: 80px;
  color: rgba(0,0,0,0.5);
}

.glyphicon-lg{
  font-size: 150px;
  color: rgba(0,0,0,0.5);
}

/*********************************************
PRODUCTS
*********************************************/

.product{
  border: 1px solid #dddddd;
  height: 321px;
}

.product>img{
  max-width: 230px;
}

.product-name{
  font-size: 20px;
}

.product-description{
  font-size: 14px;
  text-align: justify;
text-justify: inter-word;
}

.product-price{
  font-size: 22px;
}

.product-discount{
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info{
  margin-top: 50px;
}

#add_product_image{
  margin-top: 20px;
}

.tags{
  height: 30px;
}
// .label{
//   padding: 0px;
//   height: 100%;
// }

.label-tag{
  color: white;
  padding: 5px;
  border: 0px;
  font-size: 12px;
  height: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}



.label-tag:hover{
  background: #367036;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.tag{
  height: 100%;
  border: 2px;
  border-color: black;
}

span.tags{
  display:inline-block;
  margin: 0px;
}

.panel-market{
  border: 0px;
  .panel-heading{
    a{
      color: #fff;
    }
    border: 0px;
    color: #fff;
  }

  .panel-body{
    color: #000;
  }
  color: #fff;
}

#showcase{
  padding: 0px;
}
.well{
  padding: 5px;
}

#showcase.well{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

#showcase .col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

.row{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.logo-small{
  width: 15%;
  height: 15%;
  padding: 10px;
}
.logo-lg{
  width: 80%;
  height: 80%;
  padding: 10px;
}

a.navbar-brand{
  height: 20px;
  font-size: 25px;
}

.board-md{
  min-height: 700px;
  h1{
    font-size: 60px;
    color: white;
  }
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('login_bg.jpg');
  .well{
    padding: 30px;
  }
}

.line-space{
  height: 15px;
}

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#profile-board{
  padding: 20px;
}

.section-hr{
  border-color: rgb(62, 120, 75);
  color: $link-color;
}

.section-heading{
  i{
    color: red;
    color: #e8a440;
    padding-right: 10px;
  }
}

.text-overflow {
    display:block;
    width:31em;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card-title{
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.transparent{
background-color:rgba(255, 255, 255, 0.7);
}

.board-md-new-store{
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('store_new_bg.png');
  background-size: 100% 100%;
background-repeat: no-repeat;
}

.board-md-new-market{
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('market_new_bg.jpg');
  background-size: 100% 100%;
background-repeat: no-repeat;
}
.card-text tr{
  height: 25px;
}

#error_page_board{
  padding-top: 100px;
  padding-bottom: 200px;
}

.owner{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.sidebar{
  border-radius: 5px;
  border-width: 2px;
  border-color: #376806;
  border-style: outset;
  margin-top: 100px;
  padding-bottom: 10px;
  background: #ffffff;
  hr{
    border-width: 2px;
    border-color:  #376806;
  }
}

.nav-list{
  font-size: 15px;
  color: #478f00;
}

.sidebar .nav-list a{
  color: #478f00;
  padding: 0px;
}

.sidebar .nav-list li{
  height: 20px;
  padding: 0px;
  padding-left: 20px;
}

.sidebar .nav-list li:hover{
  padding: 0px;
  background: $link-color;
  padding-left: 25px;
}

.sidebar h3{
  color:#376806;
  padding-left: 15px;
}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.8;
    }
}

blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1, 0.5);
    -webkit-animation-duration: 2s;
}

a{
  text-decoration: none;
  :hover{
    text-decoration: none;
  }
}
