@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-timepicker";
@import "dropzone/dropzone";
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

#ratings { color: #ee8b2d;}
#ratings-existing { color: #ee8b2d;}
#ratings-notice{
  font-size: 1.3em;
  color: #777777;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
    &:hover {color:blue;}
}

.image{
  width: 100%;
  height: 60%;
  position: absolute;
  left:0;
  // background: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('search_background_image.jpeg');
  background-size: cover;
  // background-color:rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.table-condensed td a{
  &:hover {background: #ecf0f1;}
}

bottom-padding{
  padding-bottom: 30px;
}
#more .card{
  height: 300px;
  margin: 30px;
}
#search_area{
  padding-top: 70px;
  // width: 100%;
  // height: 60%;
  // position: absolute;
  // left:0;
  // background-image: image-url('search_background_image.jpeg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

}

.card-header{
  font-size: 15px;
}
.our_cards{
  outline-offset: 15px;
  outline-style: groove;
  outline-color: black;
  margin-bottom: 15px;
}


// #logo {
//   float: left;
//   margin-right: 10px;
//   margin-top: 7px;
//   font-size: 1.7em;
//   color: grey;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
//
//     text-decoration: none;
//   }
// }

.navbar-buttons {
  float:left;
}


body { padding-top: 50px;

 }

// $bgDefault      : #d2a679;
// $bgHighlight    : #d2a679;
// $colDefault     : #ecf0f1;
// $colHighlight       : #ffbbbc;
// .navbar-default {
//   background-color: $bgDefault;
//   border-color: $bgHighlight;
//   .navbar-brand {
//     color: $colDefault;
//     &:hover, &:focus {
//       color: $colHighlight; }}
//   .navbar-text {
//     color: $colDefault; }
//   .navbar-nav {
//     > li {
//       > a {
//         color: $colDefault;
//         &:hover,  &:focus {
//           color: $colHighlight; }}}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $colHighlight;
//         background-color: $bgHighlight; }}
//     > .open {
//       > a, > a:hover, > a:focus {
//         color: $colHighlight;
//         background-color: $bgHighlight; }}}
//   .navbar-toggle {
//     border-color: $bgHighlight;
//     &:hover, &:focus {
//       background-color: $bgHighlight; }
//     .icon-bar {
//       background-color: $colDefault; }}
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colDefault; }
//   .navbar-link {
//     color: $colDefault;
//     &:hover {
//       color: $colHighlight; }}}
// @media (max-width: 767px) {
//   .navbar-default .navbar-nav .open .dropdown-menu {
//     > li > a {
//       color: $colDefault;
//       &:hover, &:focus {
//         color: $colHighlight; }}
//     > .active {
//       > a, > a:hover, > a:focus, {
//         color: $colHighlight;
//         background-color: $bgHighlight; }}}
// }

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
position: absolute;
top: 50%;
font-size:2em;
z-index: 5;
display: inline-block;
}
.carousel-control{
  background-color:transparent;
  background-image:none !important;
}

.carousel img{
  width: 100%;
  height: 200px;
}

.carousel-control:hover,
.carousel-control:focus {
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}

.details .nav a small {
    display:block;
}
.details .nav {
    background:#eee;
    margin: 0px;
    margin-bottom: 20px;
}
.details .nav a {
    border-radius:0px;
}
.information{
  padding-left: 15px;
  padding-right: 15px;
}

.information .panel{
  margin-bottom: 0px;
  padding: 0px;
}

#button-group{
  margin-right:0;
}

.thumbnail img{
  width: 100%;
}

.thumbnail li{
  width: 100%;
}

.btn-space{
  margin-left: 15px;
}

.modal-header{
  padding: 0px;

}
.modal-content{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#add_store_image{   /* mozilla, netscape */
 opacity: 0.5;
}

.dropzone{
  border-style:dashed;
  border-radius: 30px;
  font-size: 30px;
  opacity: 0.5;
}
.dropzone:hover{
  opacity: 1.0;
}

.detele{
  margin-top: 10px;
}
/* Search Style */
#custom-search-input{
    padding: 2px;
    border: solid 1px #E4E4E4;
    border-radius: 3px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}
#custom-search-input button{

    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 4px 12px 4px 10px;
    border-left: solid 1px #ccc;
    line-height: 2;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#selectBox {
    width: fit-content;
    border: none;
    box-shadow: none;
    border-right: solid 1px #ccc;
    -webkit-appearance: none;
  }

#selectBox button {
    background: #666666;
    box-shadow: none;
    border: 0;
    color: #666666;
  }
