// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.filter{
  border: 2px;
  border-radius: 10px;
  border: #123456;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: white;
  // background: #5cb85c;
  //background: rgba(118, 163, 96,0.8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(118, 163, 96,0.8),rgb(68, 66, 61)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(118, 163, 96,0.8),rgb(68, 66, 61)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(118, 163, 96,0.8),rgb(68, 66, 61)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(118, 163, 96,0.8),rgb(68, 66, 61)); /* Standard syntax */
}

.filter .btn{
  border-radius: 0px;
  color: white;
  font-size: 15px;
  background: rgba(0, 0, 0,0);
  border: 0px;
}

.filter .btn.active{
  background: white;
  color: #5cb85c;
}

.filter .btn:hover{
  background: white;
  color: #5cb85c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s  ease;
  -o-transition: all 0.3s  ease;
  -ms-transition: all 0.3s  ease;
  transition: all 0.3s  ease;
}

.check-store{
  color: white;
  padding: 5px;
  border-width: 1px;
  border-color: #367036;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #e8fce8;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  .hover{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    padding: 15px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }

  .card-title{
    color: #333333;
  }
}

.check-store:hover{
  background: #f2eccd;
  color: #778462;
  border-color: #474f3a;
  .card-title{
    color: #474f3a;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  table{
    color: #474f3a;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
}
.check-store .thumbnail-image-board{
  padding: 0px;
  background: #367036;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.check-store .thumbnail-image {
  font-size: 15px;
  color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-overflow-block{
  // display:block;
  height: 170px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.check-store  .thumbnail-image:hover{
  .hover{
    background: rgb(62, 120, 75);
  }
  font-size: 15px;
  color: white;
  span{
    color: transparent;
  }
}

.check-store table{
  color: #333333;
  width: 100%;
  font-size: 15px;
  font-weight: 200;
}

#add_products .thumbnail-image{
  padding-top: 60px;
}

#add_products .thumbnail-image:hover{
  .glyphicon-md{
      color:  #5cb85c;
  }
}
#store_reviews_next{
  margin-bottom: 20px;
}

#products_next{
  margin-bottom: 20px;
}
