<div class="sidebar-nav">
    <!-- <div style="width:200px; padding: 8px 0;" class="well"> -->
    <div style="padding: 8px 0;" class="well">
		<ul class="nav nav-list">
          <li class="divider"></li>
          <center><li class="nav-header">Categories</li></center>
          <li><a href="/search?&option=Products&tag=grain">Breads & Bakery</a></li>
          <li><a href="/search?&option=Products&tag=meat">Meat</a></li>
          <li><a href="/search?&option=Products&tag=seafood">Seafood</a></li>
          <li><a href="/search?&option=Products&tag=dairy">Dairy</a></li>
          <li><a href="/search?&option=Products&tag=fruit">Fruits</a></li>
          <li><a href="/search?&option=Products&tag=vegetable">Vegetables</a></li>
          <li><a href="/search?&option=Products&tag=#">Beverages</a></li>
          <li><a href="/search?&option=Products&tag=#">Sauces & Jams </a></li>
          <li><a href="/search?&option=Products&tag=#">Snacks & Candy </a></li>
          <li><a href="/search?&option=Products&tag=nut">Nuts & Seeds </a></li>
          <li><a href="/search?&option=Products&tag=#">Spices & Seasonings </a></li>

          <li class="divider"></li>
          <center><li class="nav-header">Specialties</li></center>
          <li class="divider"></li>
          <li><a href="/search?&option=Products&tag=organic">Organic</a></li>
          <li><a href="/search?&option=Products&tag=gluten-free">Gluten Free</a></li>
          <li><a href="/search?&option=Products&tag=vegan">Vegan</a></li>
          <li><a href="/search?&option=Products&tag=vegetarian">Vegetarian </a></li>
          <li><a href="/search?&option=Products&tag=kosher">Kosher</a></li>
          <li><a href="/search?&option=Products&tag=soy-free">Soy Free</a></li>
          <li><a href="/search?&option=Products&tag=no-carb">No Carbs </a></li>
		</ul>
	</div>
</div>
