<div class="row">
<div class="col-sm-2">
  <%= render :partial => 'products/sidebar',locals: { query: @query = ""} %>
</div>
<div class="col-sm-10">
<section>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Popular Products</h2>
        <hr class="section-hr">
      </div>
  </div>
  <div class="row">
        <%= render 'shared/products_sm', locals: { products: @products} %>
        <%= render 'shared/product_modal' %>
  </div>
</section>
</div>
