
<footer>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="col-sm-4 text-center">
          <%= image_tag("logo_lg.png",class: "navbar-header logo-lg") %>
        </div>
        <div class="col-sm-8"></div>
      </div>

      <div class="col-sm-3">
        <ul>
          <li><%= link_to "About Us", current_user %></li>
          <li><%= link_to "Join Us", current_user %></li>
          <li><%= link_to "FAQs", current_user %></li>
        </ul>
      </div>

      <!--Third column-->
      <div class="col-sm-3">
        <ul>
          <li>Tim</li>
          <li>Yanique</li>
          <li>Beraa</li>
          <li>Huiming</li>
        </ul>
      </div>

      <!--Fourth column-->
    </div>
  </div>
</footer>
