
<footer>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="col-sm-4 text-center">
          <!-- <%= image_tag("logo.png",class: "logo-small") %></br>
          <h10 class="text-primary">Capriole Education Service, INC</h10> -->
        </div>
        <div class="col-sm-8"></div>
      </div>

      <div class="col-sm-3">
        <ul>
          <li>About Us</li>
          <li>Parents</li>
          <li>FAQs</li>
        </ul>
      </div>

      <!--Third column-->
      <div class="col-sm-3">
        <ul>
          <li>Tim</li>
          <li>Yanique</li>
          <li>Beraa</li>
          <li>Huiming</li>
        </ul>
      </div>

      <!--Fourth column-->
    </div>
  </div>
</footer>
