<footer>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
          <div class="col-sm-4 text-center">
            <!-- <%= image_tag("logo.png",class: "logo-small") %></br>
            <h10 class="text-primary">Capriole Education Service, INC</h10> -->
          </div>
          <div class="col-sm-8"></div>
      </div>

      <div class="col-sm-3">
        <ul>
          <li><a href="#!">About Us</a></li>
          <li><a href="#!">Parents</a></li>
          <li><a href="#!">FAQs</a></li>
        </ul>
      </div>

      <!--Third column-->
      <div class="col-sm-3">
        <ul>
          <li><a href="#!">Developer information</a></li>
          <li><a href="#!">Developer information</a></li>
          <li><a href="#!">Developer information</a></li>
          <li><a href="#!">Developer information</a></li>
        </ul>
      </div>

      <!--Fourth column-->
    </div>
  </div>
</footer>
