<div class="our-cards">
<div class="row">
  <div class="card-header">
    <strong>Popular Markets</strong>
  </div>
<div class="col-sm-6 col-md-4 col-lg-3">

    <div class="card">
        <div class="card-block">
            <h3 class="card-title"><%=Market.first.name%></h3>
            <div class="card-text">
                The text
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">The title</h3>
            <div class="card-text">
                The text
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">The title</h3>
            <div class="card-text">
                The text
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">The title</h3>
            <div class="card-text">
                The text
            </div>
        </div>
    </div>
</div>
</div>
</div>
